body {
    color:rgb(0, 0, 0)
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: linear-gradient(90deg, rgb(217, 189, 224) 0%, rgb(40, 0, 70)100%);
    
    font-size: 3rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(255, 255, 255);
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color:aliceblue
}

.choice-text {
    padding: 2rem;
    width: 100%
}

.correct {
    background: green
}

.incorrect {
    background: red
}

/*heads up display*/

#hud {
    display: flex;
    justify-content: space-between;
}x

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}


@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}
